Django==1.7.1
Fabric==1.7.0
South==0.8.4
awscli==1.1.1
bcdoc==0.10.0
boto==2.12.0
botocore==0.18.0
colorama==0.2.5
config==0.3.9
dj-database-url==0.3.0
dj-static==0.0.6
django-bootstrap3==5.0.2
django-floppyforms==1.2.0
django-geojson==2.6.0
django-leaflet==0.15.0
django-toolbelt==0.0.1
djangorestframework==3.0.5
docutils==0.12
ecdsa==0.13
gunicorn==19.1.1
jmespath==0.6.1
paramiko==1.15.2
psycopg2==2.5.4
pyasn1==0.1.7
pycrypto==2.6.1
python-dateutil==2.4.0
rsa==3.1.2
six==1.8.0
static3==0.5.1
wsgiref==0.1.2
