<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Ride[Up]</title>
    {% load staticfiles %}
    <link rel="shortcut icon" href="{% static 'bike/css/favicon.ico' %}" type="image/x-icon"/>
    <link rel="icon" href="{% static 'bike/css/favicon.ico' %}" type="image/x-icon"/>
    <link rel="stylesheet" href="{% static 'bike/datetimepicker-master/jquery.datetimepicker.css' %}"/>
    <link rel="stylesheet" href="{% static 'bike/css/Control.OSMGeocoder.css' %}"/>
    <link rel="stylesheet" href="{% static 'bike/css/leaflet.awesome-markers.css' %}"/>
    <link rel="stylesheet" href="{% static 'bike/css/leaflet.css' %}"/>
    <link rel="stylesheet" href="{% static 'bike/css/jQueryv1.10.3.css' %}"/>
    <link rel="stylesheet" href="{% static 'bike/css/ion_icons.css' %}"/>
    <link rel="stylesheet" href="{% static 'bike/css/google_font1.css' %}"/>
    <link rel="stylesheet" href="{% static 'bike/css/font-awesome.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'bike/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'bike/css/bootstrap-theme.min.css' %}"/>

    <!-- may remove this below -->

    <!--[if lte IE 8]>
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css"/>
     <![endif]-->

    {# Load the tag library #}
    {% load bootstrap3 %}

    <style>
        body {
            padding-top: 70px;
        }

        .nav, .pagination, .carousel, .panel-title a {
            cursor: pointer;
        }

        .btn {
            margin: 2px;
        }

        .logo {
            font-family: "Raleway", sans-serif;
            font-weight: 100;
            line-height: 1;
            text-rendering: optimizelegibility;
        }

        #map {
            height: 100%;
        }

        .map-outer {
            height: 550px;
        }

        .navText {
            font-family: "Raleway", sans-serif;
            font-weight: 100;
            line-height: 1;
            font-size: 175%;
        }

        .mainText {
            font-family: "Raleway", sans-serif;
            font-weight: 125;
            line-height: 2;
        }

    </style>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container logo">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Ride[Up]</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a id="howTo" href="#">How to Use</a>
                </li>
                <li>
                    <a id="members" href="#">Members</a>
                </li>
                <li>
                    <a id="about" href="#">About</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-vertical-center text-center logo">
            <h3>Ride[up]: The bicyclist's utility to organize group rides, create events, and meet new riders</h3>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-lg-12 text-center map-outer">
            <div class='img-rounded' id="map"></div>
            <div class="row">
                <div class="col-lg-4"></div>
                <div class="col-lg-4"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <br>

            <p class="mainText">Copyright © RideUp.com 2015</p>

        </div>
    </div>
</div>

{#vendor JS files#}
<script src={% static "bike/prod/js/vendor.min.js" %}></script>
<script src={% static "bike/js/Control.OSMGeocoder.js" %}></script>


<script>
    // Set CSRF Cookie
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    $.ajaxSetup({
        data: {csrfmiddlewaretoken: '{{ csrf_token }}'}
    });
</script>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-58957946-1', 'auto');
    ga('send', 'pageview');

</script>

{#custom JS files#}
<script src={% static "bike/prod/scripts/app.min.js" %}></script>

</body>
</html>