<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Ride Spots</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'bike/datetimepicker-master/jquery.datetimepicker.css' %}"/>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css"/>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"/>
    {#    <link href="../../static/css/bootstrap.min.css" rel="stylesheet">#}

    <!-- may remove this below -->

    <!--[if lte IE 8]>
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css"/>
     <![endif]-->

    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script src={% static "bike/datetimepicker-master/jquery.js" %}></script>
    <script src={% static "bike/datetimepicker-master/jquery.datetimepicker.js" %}></script>
    <script src={% static "bike/js/bootbox.js" %}></script>

    {# Load the tag library #}
    {% load bootstrap3 %}

    {# Load CSS and JavaScript from Django #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <style>
        body {
            padding-top: 70px;
        }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">RideUp</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<div class="container">
    <div class="row">
        <div class="col-lg-3 text-left">
            <div>
                <form class="form-horizontal" role="form" method="POST" id="post-form">
                    {% bootstrap_form_errors kickoff %}
                    {% bootstrap_field kickoff.coordinates %}
                    {% bootstrap_field kickoff.name %}
                    {% bootstrap_field kickoff.rideType %}
                    <div id="fill"></div>
                    <div id="fill_last"></div>
                </form>
            </div>

        </div>
        <div class="col-lg-9 text-right">
            <div id="map" style="height:500px"></div>
            <div class="row">
                <div class="col-lg-4"></div>
                <div class="col-lg-4 text-left">
                    <div>Riders:
                        <ol id="peopleRiding"></ol>
                    </div>
                </div>
                <div class="col-lg-4"></div>
            </div>
        </div>
    </div>
</div>

<script>

    // Set CSRF Cookie
    function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    //Test non-CSRF methods
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    //Set the universal settings for $ajax calls for use with CSRF protection
    $.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
    });


    //Keep track of which form is being used to submit
    var whichForm = "";

    //add more fields for dirt or road group rides or races
    function detailedUpdateForm() {
        var typeSurface = $("#id_roadOrDirt").val();
        var typeEvent = $("#id_rideType").val();
        //Clear fields and call django api for respective fields
        $("#fill_last").empty();
        $.ajax({
            dataType: "html",
            url: "http://127.0.0.1:8000/bike/form/" + typeEvent.toLowerCase() + "_" + typeSurface.toLowerCase(),
            success: function (data) {
                $(data).each(function (key, data) {
                    $(data).appendTo("#fill_last").hide().fadeIn(1250);
                    // get time from jquery time widget
                      jQuery('#id_ridetime').datetimepicker({
                        format: 'm-d-Y g:i A',
                        pick12HourFormat: true
                    });
                    whichForm = typeEvent.toLowerCase() + "_" + typeSurface.toLowerCase();
                });
            }
        });
    }

    //Add more fields for ride events, if it is a group ride or race, call detailedUpdateFORM
    $("#id_rideType").change(function updateForm() {
        var typeEvent = $("#id_rideType").val();
        if (typeEvent.toLowerCase() != "blank") {
            if (typeEvent === "RACE" || typeEvent === "GROUP_RIDE") {
                $("#fill").empty();
                $("#fill_last").empty();
                //add sub field for race or group rides, dirt or road, then attach handler (detailedUpdateForm)
                $('<div class="form-group"><label class="control-label" for="id_roadOrDirt">Trail or Road</label>' +
                '<select class="form-control" id="id_roadOrDirt" name="roadOrDirt" required="required" title="">' +
                '<option value="SURFACE">Select Surface</option>' +
                '<option value="TRAIL">Trail</option>' +
                '<option value="ROAD">Road</option></select></div>').appendTo("#fill").hide().fadeIn(1250);
                $("#id_roadOrDirt").change(detailedUpdateForm);
            }
            else {
                //Clear and call django API for respective fields
                $("#fill").empty();
                $("#fill_last").empty();
                $('<div class="form-group"><label class="control-label" for="id_roadOrDirt">Trail or Road</label>' +
                '<select class="form-control" id="id_roadOrDirt" name="roadOrDirt" type="hidden" required="required" title="">' +
                '<option value="SURFACE">Select Surface</option>' +
                '<option value="TRAIL" selected>NA</option>' +
                '<option value="ROAD">Road</option></select></div>').appendTo("#fill").hide();
                $.ajax({
                    dataType: "html",
                    url: "http://127.0.0.1:8000/bike/form/" + typeEvent.toLowerCase(),
                    success: function (data) {
                        $(data).each(function (key, data) {
                            $(data).appendTo("#fill").hide().fadeIn(1250)
                            // get time from jquery time widget
                            jQuery('#id_ridetime').datetimepicker({
                                format: 'm-d-Y g:i A',
                                pick12HourFormat: true
                            });
                            whichForm = typeEvent.toLowerCase();
                        });
                    }
                });
            }
        }
        else {
            //Empty form if 'select type' is selected
            $("#fill").empty();
            $("#fill_last").empty();
        }
    });


    //set map
    var map = L.map('map').setView([51.505, -0.09], 10);

    L.tileLayer('https://{s}.tiles.mapbox.com/v3/{id}/{z}/{x}/{y}.png', {
        maxZoom: 18,
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
        '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
        'Imagery © <a href="http://mapbox.com">Mapbox</a>',
        id: 'examples.map-i875mjb7'
    }).addTo(map);

    //grab form and POST data on submission
    var frm = $('#post-form');
    frm.submit(function () {
        $.ajax({
            type: "POST",
            url: "/bike/" + whichForm + "/", //Use whichForm to set the URL for the API
            data: frm.serialize(),
            success: function () {
                //Remove the values from the input
                $("#fill").empty();
                $("#fill_last").empty();
                $('#id_name').val('');
                $('#id_rideType').val("BLANK");

                //Reload geoJSON
                loadGeoJSON();
                map.removeLayer(newMarker);
            },

            error: function (xhr, errmsg, err) {
                console.log("ERROR!");
                $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: " + errmsg +
                " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
        });
        return false;
    });


    function loadGeoJSON() {
        //call stored geoJSON in DB
        $.ajax({
            dataType: "json",
            url: "http://127.0.0.1:8000/bike/data.geojson/",
            success: function (data) {
                $(data.features).each(function (key, data) {
                    L.geoJson(data, {onEachFeature: onEachFeature}).addTo(map);
                });
            }
        }).error(function () {
        });
    }

    //Marker click handler
    function onEachFeature(feature, layer) {
        // attach click handler to do AJAX call
        layer.on('click', onClick);
    }

    var convertNames = {
        "description":"Details",
        "locationAddress":"Address",
        "ridetime":"Time",
        "postRideBeer":"Post-Ride Food & Beer Spot",
        "cost":"Cost",
        "website":"Website",
        "hostedBy":"Hosted By",
        "rideTypeMTB":"MTB Discipline",
        "rideLevelTrail":"Skill Level",
        "rideLevelRoad":"Road Pace",
        "roadOrDirt":"Road Or Trail",
        "rideType":"Event Type",
        "name":"Name",
        "coordinates":"Coordinates",
        "riders":"Riders",
        "non_member_riders":"Non Member Riders",
        "race_trail":"Mountain Bike Race",
        "group_ride_road":"Group Ride - Road",
        "group_ride_trail":"Group Ride - MTB",
        "race_road":"Road Race",
        "special_event":"Special Event",
        "trail_work_day":"Trail Work Day",
        "bike_swap":"Swap Meet",
        "conference":"Conference"
    }

    //Marker click handler
    function onClick(e) {

        marker = this; //global var to use in othe AJAX calls
        var ajaxUrl = "";
        var popUpHtml = "";
        var member_non_member = "";//for AJAX URL, return members vs non members JSON
        var rideType = marker.feature.properties.rideType;
        var rideSurface = marker.feature.properties.roadOrDirt;
        $("#peopleRiding").empty(); //clear list of riders before loading it

        // If/else condition is used to build AJAX url and popup information
        if (rideType === "RACE" || rideType === "GROUP_RIDE") {

            ajaxUrl = "http://127.0.0.1:8000/bike/" + rideType.toLowerCase() + "_" +
            rideSurface.toLowerCase() + "/" +
            marker.feature.id + "/";

            popUpHtml =  '<b><u>' + convertNames[rideType.toLowerCase() + "_" +
                            rideSurface.toLowerCase()] + '</u></b><br>' +
                            "<b>Name: </b>" + marker.feature.properties.name + '<br>';
        }
        else {
            ajaxUrl = "http://127.0.0.1:8000/bike/" + rideType.toLowerCase() + "/" +
            marker.feature.id + "/";

            popUpHtml =  '<b><u>' + convertNames[rideType.toLowerCase()] + '</u></b><br>' +
                            "<b>Name: </b>" + marker.feature.properties.name + '<br>';
        }
        //Calling ajaxURL to populate marker popup
        $.ajax({
            dataType: "json",
            url: ajaxUrl,
            success: function (data) {
                $(data).each(function (key, data) {
                    for (var fld in data.fields) {
                        var key = convertNames[fld]; //popup key
                        var value = data.fields[fld]; //popup value
                        if ((key) && (value)) {
                            if (fld === "ridetime" ) {
                                var time = new Date(data.fields[fld]); //convert time to readable format
                                value = time.toLocaleString(navigator.language, {
                                //Options for time display
                                    hour: '2-digit',
                                    minute: '2-digit',
                                    day: '2-digit',
                                    month: '2-digit',
                                    year: '2-digit'
                                });
                            }
                            if (fld === "non_member_riders") {
                                member_non_member = "non_member";
                                for (var rider_id in value) {
                                    getRiders(member_non_member, value[rider_id]);
                                }
                                var count_of_non_members_riding = value.length;
                            }
                            else if (fld === "riders") {
                                member_non_member = "member";
                                for (var rider_id in value) {
                                    getRiders(member_non_member, value[rider_id]);
                                }
                                value = value.length + count_of_non_members_riding;
                            }
                            popUpHtml += '<b>' + key + '</b>' + ":  " + value + '<br>';
                        }
                    }
                    //create popupHTML and bind to marker
                    popUpHtml += '<p><button id="joinRideButton" class="btn btn-default btn-primary">Join Ride</button></p>'
                    bootbox.dialog({
                        title: "That html",
                        message: popUpHtml,
                        animate: true
                    });
                    $("#joinRideButton").click(joinRideFunc); //Add click handler for people joining this ride
                });
            }
        });
    }

    //building form to join ride as guest or member
    function joinRideFunc() {
        $('.bootbox-body').empty().append(
            '<div class="container">' +
                '<div class="row">' +
                    '<div class="col-lg-4 text-left">' +
                        '<form id="joinRideForm" class="form-horizontal" method="POST" role="form">' +
                            '<div class="row">' +
                                '<div class="col-lg-3 text-left innerBox1"></div>' +
                                '<div class="col-lg-3 text-left innerBox2"></div>' +
                            '</div>' +
                        '</form>' +
                    '</div>' +
                '</div>' +
            '</div>');

        //guest form, requires name only
        $('#joinRideForm').prepend('{% bootstrap_field join_ride.first_name %}');
        $('.innerBox1').append(
        '<input id="nextSubmit" class="btn btn-default form-group btn-primary" type="submit" ' +
        'value="Join Ride" name="submit" style="display: inline-block;">');
        $('.innerBox2').append('<button id="memberButton" class="btn btn-default form-group btn-primary">Become Member</button>');
        //if person wants to join as member, add more fields and remove member button
        $("#memberButton").click(function() {
            $('#joinRideForm').prepend('{% bootstrap_field join_ride.password %}');
            $('#joinRideForm').prepend('{% bootstrap_field join_ride.username %}');
            $('#memberButton').remove();
        });

        $.ajax({
            dataType: "html",
            url: "http://127.0.0.1:8000/bike/form/join_ride/",
            success: function (data) {
                $(data).each(function (key, data) {
                    $(data).appendTo('#join_ride_form');
                });
            }
        });

        var frm = $('#joinRideForm');
        var ajaxUrl = "";
        var rideType = marker.feature.properties.rideType;
        var rideSurface = marker.feature.properties.roadOrDirt;

        // If/else condition is used to build AJAX url and popup information
        if (rideType === "RACE" || rideType === "GROUP_RIDE") {

            ajaxUrl = "http://127.0.0.1:8000/bike/add_rider/" + rideType.toLowerCase() + "_" +
            rideSurface.toLowerCase() + "/" +
            marker.feature.id + "/";
        }
        else {
            ajaxUrl = "http://127.0.0.1:8000/bike/add_rider/" + rideType.toLowerCase() + "/" +
            marker.feature.id + "/";
        }
        frm.submit(function () {
        $.ajax({
            type: "POST",
            url: ajaxUrl, //Use whichForm to set the URL for the API
            data: frm.serialize(),
            success: function () {
                //close popup
                $('.bootbox-body').empty().append(
                        '<p>Success!</p>');

                //Reload geoJSON
                loadGeoJSON();
            },
            error: function (xhr, errmsg, err) {
                console.log("ERROR!");
                $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: " + errmsg +
                " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
        });
        return false;
    });
    }

    function getRiders(member_non_member, rider_id) {
        $.ajax({
            dataType: "json",
            url: "http://127.0.0.1:8000/bike/riders/" + member_non_member + "/" + rider_id + "/",
            success: function (data) {
                $(data).each(function (key, data) {
                    if (member_non_member === "member") {
                        $('<li>' + data.fields.username + '</li>').appendTo('#peopleRiding');
                    }
                    else {
                        $('<li>' + data.fields.name + '</li>').appendTo('#peopleRiding');
                    }
                });
            }
        });
    }

    //Drop point and get coordinates handler
    function onMapClick(e) {
        var lat = e.latlng.lat;
        var lng = e.latlng.lng;

        // Every time when user click on map we want to delete previous marker and create new marker on the new position where the user clicked      
        if (typeof newMarker != 'undefined') {
            map.removeLayer(newMarker);  // delete previous marker
            newMarker = L.marker([lat, lng]).addTo(map);  // add new marker
        }
        else {
            newMarker = L.marker([lat, lng]).addTo(map);  // add new marker
        }

        // we want to pass value of longitued and latitude to input field with id 'coordinates'
        // note that we set that field as hidden because we don't want user to type the coordinates there. We want him to set marker on map 
        $('#id_coordinates').val(lng + ',' + lat)
    }

    // call the onMapClick function when user click on map
    map.on('click', onMapClick);
    $(document).ready(function () {
        loadGeoJSON();

    });
    map.on('popupopen', function(e) {
        var px = map.project(e.popup._latlng);
        px.y -= e.popup._container.clientHeight
        map.panTo(map.unproject(px),{animate: true});
    });

</script>
</body>
</html>